body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color:bisque;
}
.container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding-top: 50px;
}
h1 {
    color: #333;
}
p {
    color: #666;
    margin-top: 20px;
}
.cta-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}